/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import 'flexvideo.css';

img.aligncenter {
	display: block;
	margin: 0 auto;
}

.contributors-div strong{
	font-weight: 600;
	font-family: 'Antonio', 'Oswald', sans-serif;
}

.contributors-div{
	font-weight: 400;
    font-family: 'Antonio', 'Oswald', sans-serif;
    letter-spacing: 1px;
    padding: 15px 0px;
}

a {
    color: #FF9742;
    text-decoration: none;
}

p {
    margin: 10px 0 10px;
    line-height: 1.5;
}

a.thumbnail img {
    height: 300px;
}

/* chromeframe error */
.chromeframe {
	background: #a00;
	color: #faa;
	display: block;
	padding: 3px 0;
	text-align: center;
}
.chromeframe a {
	color: #fff;
	text-decoration: underline;
}



.page-header-top-right {
	margin-top: 10px;
	float: right;
}

.pagination {
	margin: 0;
}

.pagination-center {
	text-align: center;
}
.pagination-row {
	margin-bottom: 20px;
}



.required {
	color: #f00;
}



.row-with-vspace {
	margin-bottom: 10px;
}



.site-main .format-aside {
	background: #f5f5f5;
}
.site-main .format-image {
	background: url('../img/content-post-format-image.png') left top no-repeat;
}
.site-main .format-link {
	background: url('../img/content-post-format-link.png') left top no-repeat;
}
.site-main .format-quote {
	background: url('../img/content-post-format-quote.png') left top no-repeat;
}
.site-main .format-video {
	background: url('../img/content-post-format-video.png') left top no-repeat;
}



.site-title {
	margin-bottom: 0;
	margin-top: 10px;
}
.site-title > a {
	text-decoration: none;
}
.site-title > div {
	height: auto;
	line-height: 18px;
}
.site-title .site-description {
	color: #999;
	font-size: 13.3px;
	margin-left: 3px;
	color: #006699;
}
.site-title .site-title-heading {
	margin: 0;
  font-size: 20px;
  color: #fff;
}

.site-title .site-title-heading a img{
	margin: 0;
	width: 80%;
}



.widget_calendar #wp-calendar {
	margin: 0;
}
.widget_calendar #wp-calendar #next {
	text-align: right;
}



#comments .comment-navigation {
	margin-bottom: 0;
}
#comments .comment-navigation-below {
	margin-bottom: 20px;
	margin-top: 15px;
}
#comments .media-list li .media {
	margin-top: 15px;
}
#comments .media-list li .media .media-body {
	border: 1px solid #eee;
	padding: 10px;
}
#comments .media-list li .media .media-body .comment-author {
	font-size: 12px;
	margin-bottom: 10px;
}
#comments .media-list ul.children {
	list-style: none;
	margin-left: 2.5em;
}


#main-column .wp-video-shortcode {
	display: block;
	height: auto;
	max-width: 100%;
}
#main-column .attachment .entry-content {
	margin-bottom: 20px;
}
#main-column .attachment .entry-content .attachment {
	text-align: center;
}
#main-column .attachment .entry-meta {
	margin-bottom: 20px;
}
#main-column .post,
#main-column .page {
	border: 1px solid #eee;
	margin-bottom: 20px;
	padding: 10px;
}
#main-column .post .entry-header .entry-meta {
	color: #999;
}
#main-column .post .entry-header .entry-meta a {
	color: inherit;
}
#main-column .post .entry-header .entry-meta .posted-on .updated {
	display: none;
}
#main-column .post .entry-meta .categories-icon {
	cursor: default;
}
#main-column .post .entry-meta .comments-link a {
	color: rgba(0,0,0,0.81);
}
#main-column .post .entry-meta .comments-link a .comment-icon .comment-total,
#main-column .page .entry-meta .comments-link a .comment-icon .comment-total {
	color: #555;
	font-size: 12px;
	margin-left: 5px;
}
#main-column .attachment .edit-post-link a, 
#main-column .attachment .entry-meta .edit-post-link a, 
#main-column .post .entry-meta .edit-post-link a,
#main-column .page .entry-meta .edit-post-link a {
	color: rgba(0,0,0,0.81);
}
#main-column .post .entry-meta .tags-icon {
	cursor: default;
}
#main-column .attachment .entry-title, 
#main-column .post .entry-title,
#main-column .page .entry-title {
	margin-top: 0;
	word-wrap: break-word;
}



#sidebar-left .widget,
#sidebar-right .widget {
	border: 1px solid #EBD67D;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 10px;
}
#sidebar-left .widget ul,
#sidebar-right .widget ul {
	padding-left: 20px;
}
#sidebar-left .widget .widget-title,
#sidebar-right .widget .widget-title {
	font-size: 18px;
	margin-top: 0;
}

#site-footer {
	background: #f5f5f5;
	border-top: 3px solid #EBD67D;
	font-size: 12px;
	padding: 10px;
}

.navbar {
    position: relative;
     min-height: auto; 
    margin-bottom: 15px;
    border: 1px solid transparent;
}
.navbar-default {
    background-color: #006699;
    border-color: #e7e7e7;
}

.container .page-container{
	border-left: 1px solid #EBD67D;
	border-right: 1px solid #EBD67D;
}

.social-icons{
	margin-bottom:10px;
}

.no-padding{
	padding:0px;
}

.no-padding-left{
	padding-left:0px;
}

.no-padding .nav > li > a{
	padding:0px 10px;
	border-right: 1px solid #EBD67D;
}
h1 a{
	font-size: 26px;
}
.ee-upcoming-events-widget-title-h5 {
    margin: 0.5em 0 0;
    font-size: 18px;
}

ul.ee-upcoming-events-widget-ul li:nth-child(even){
    background-color: #eee;
    padding: 3px 10px 2px;
}

ul.ee-upcoming-events-widget-ul li:nth-child(odd){
    background-color: #E7DEBE;
    padding: 3px 10px 2px;
}

ul.ee-event-datetimes-ul li:nth-child(odd){
	background: none;
}

ul.ee-event-datetimes-ul li:nth-child(even){
	background: none;
}

.home-center-abt{
	padding: 10px;
	text-align: center;
	background: #EBD67D;
	font-size: 16px;
}
.ee-upcoming-events-widget-li .ee-event-datetimes-ul {
     margin-left: 0 !important; 
     padding: 0px 0; 
}

h3 {
	text-transform: capitalize;
	padding-bottom: 10px
}

.footer-left h5{
	margin: 6px 0px;
	color:#900;
}

.footer-right span{
	display: block;
}

.ticket-selector-submit-btn {
    float: right;
    background: #006699;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    border:1px solid #006699;
}

.event-datetimes{
	margin-top:-50px;
}

.main-menu:hover,nav.main-menu.expanded::-webkit-scrollbar {
    width: 12px;
}
 
.main-menu:hover,nav.main-menu.expanded::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    /*border-radius: 10px;*/
}
 
.main-menu:hover,nav.main-menu.expanded::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.main-menu::-webkit-scrollbar-thumb
{
	/*border-radius: 10px;*/
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

.main-menu:hover,nav.main-menu.expanded {
	width:280px;
	overflow:visible;
	text-align: center;
	list-style-position: inside;
	overflow: scroll;
}


.main-menu:hover li,nav.main-menu.expanded {
	height: auto;
}

.main-menu:hover li > a:hover,nav.main-menu.expanded {
	height: auto;
	color: #eee !important;
}


/*.main-menu:active,nav.main-menu.expanded {
	width:280px;
	overflow:visible;
	text-align: center;
	list-style-position: inside;
	overflow: scroll;
}*/

.main-menu3{
	visibility: visible;
	position: fixed;
	left: 3px;
	color:#000;
	cursor: pointer;
	z-index:10000000;
}

.main-menu3 a{
	color:#fff;
}
.main-menu.expanded {
	width:280px;
	overflow:visible;
	text-align: left;
	list-style-position: inside;
	overflow: scroll;
}
/*.main-menu3:before:hover{
	content: "\f061";
	font-family: 'FontAwesome';
	visibility: visible;
	position: fixed;
	text-align: left;
}*/

ol.main-menu {
	/*background:#FF9742;*/
	background:rgba(0,0,0,.80);
	border-right:1px solid rgba(0,0,0,.80);
  	color: #fff;
	position:fixed;
	top:0;
	bottom:0;
	height:100%;
	left:0;
	width:50px;
	overflow:hidden;
	-webkit-transition:width .05s linear;
	transition:width .05s linear;
	-webkit-transform:translateZ(0) scale(1,1);
	z-index:1000;
	padding-top: 3em;
}

/*.main-menu > ol{
	margin:10px 0px;
	width: 60px;
}*/

.main-menu li{
	position:relative;
	padding: 7px 10px;
	height: 26px;
	font-family: 'Oswald', sans-serif;
	/*list-style:georgian;*/
	margin-left: 3px;
	/*text-align: center;*/
	font-size: 15px;
	font-weight: 100;
	line-height: 16px;
	/*padding:10px;*/
}

.main-menu ol:hover{
	position:relative;
	padding: 5px 10px;
	list-style-position: inside;
	margin-left: 40px;
	/*text-align: center;*/
}

.main-menu ol:hover li{
	height: 80px;
}

.main-menu ol:hover li{
	height: auto;
}

.main-menu ol:hover li a{
	height: auto;
}

.main-menu li > a {
	position:relative;
	border-collapse:collapse;
	border-spacing:0;
	font-weight: 500;
	/*font-size: 14px;*/
  	color: #fff;
	text-decoration:none;
	-webkit-transform:translateZ(0) scale(1,1);
	-webkit-transition:all .1s linear;
	transition:all .1s linear;
	z-index: -200
	cursor:pointer;
}

.main-menu li > a > h5{
	font-weight: 500;
	font-size: 14px;
  	color: #fff;
  	margin-top:2px;
  	margin-bottom:2px;
  	line-height: 1.2;
}

.main-menu li > a > h5 > small{
	color: #fff;
    text-decoration: underline;
    font-size: 100%;
}

.main-menu li > a > h5 > span.small{
	color: #fff;
    text-decoration: underline;
    font-size: 100%;
}

.main-menu li > a:hover{
  text-decoration:underline;
  color: #eee !important;
  background: none;
  font-size: 15px;
  background: none;
  z-index: -200
  cursor:pointer;
}

.infograph-container{
	width: 75%;
}

.no-touch .scrollable.hover {
	overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
	overflow-y:auto;
	overflow:visible;
}

/*.category-image{
	margin-top:0px;
}*/

.category-image img{
	width: 100%;
}
.site-branding{
	background: rgba(0,0,0,0.81);
}

.category-header{
  /*background: #FF9742;*/
  /*background: #fbdabe;*/
  /*padding: 2em 0px;*/
  border-top: 2px solid rgba(255,255,255,0.81);
  /*background: url('../img/headerbg.jpg') no-repeat;*/
  background-size: 100% 100%;
  /*height: 30em;*/
  margin-left: 0.6em;
}

.category-header img{
	width:100%;
	height: 30em;
}

.headerdiv{
	padding: 20px 0px;
    margin-top: 15px;
}

.inteviews{
	/*background: rgba(0,0,0,0.04);*/
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../img/bg2.jpg');
	background-size: contain;
	padding: .05vw 0vw 1.5vw;
	/*opacity: 0.4;
  	filter: alpha(opacity=40);*/ 
}

.interviews-header{
	background: rgba(0,0,0,0.81);
    padding: 10px;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.4px;
}

.interviews-title{
    color: rgba(0,0,0,0.81);
    /*font-family: 'Antonio','Oswald', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.4px;
}

.videos{
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../img/bg2.jpg');
	background-size: cover;
	padding: 1.5vw 0vw 3vw;
}

.videos-header{
	background: rgba(0,0,0,0.81);
    padding: 10px;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.4px;
}

.videos-title{
    color: rgba(0,0,0,0.81);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.4px;
    /*font-family: 'Antonio','Oswald', sans-serif;*/
}

.other-stories{
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../img/bg3.jpg');
	background-size: cover;
	padding: 1.5vw 0vw 3vw;
	/*border-bottom: 2px solid rgba(0,0,0,0.81);*/
}

.other-stories-header{
	background: rgba(0,0,0,0.81);
    padding: 10px;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.4px;
}

.other-stories-title{
    color: rgba(0,0,0,0.81);
    /*font-family: 'Antonio','Oswald', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.4px;
}

.flex-control-nav {
    bottom: -60px !important;
    line-height: 11px;
}

.site-main{
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url(../img/bg6.jpg);
    background-size: contain;
}

.infographics{
	/*background: rgba(0,0,0,0.04);;*/
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('../img/bg4.jpg');
	background-size: cover;
	padding: 1.5vw 0vw 3vw;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1.4px;
}

.infographics-header{
	background: rgba(0,0,0,0.81);
    padding: 10px;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.4px;
}

.infographics-title{
    color: rgba(0,0,0,0.81);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.4px;
}


h2.headline{
  float: left;
  font-size: 14vw;
  font-family: 'Oswald', sans-serif;
  color: rgba(0,0,0,0.81);
  letter-spacing: -0.045em;
  font-weight:700;
  vertical-align: top;
  margin-top: -40px;
  padding: 15px;
}

h2.headlineTwo{
  font-size: 3.5vw;
  letter-spacing: 1px; 
  font-weight:700;
  font-family: 'Oswald', sans-serif;
  color: rgba(0,0,0,0.81);
  margin: 0px;
  padding: 10px 0px 0px;
  text-transform: uppercase;
  text-decoration: underline;
  display: inline-block;
}

h3.headline{
  font-size: 3vw;
  letter-spacing: 1px; 
  font-weight:700;
  font-family: 'Oswald', sans-serif;
  color: rgba(0,0,0,0.81);
  margin: 0px;
  padding: 10px 0px 0px;
  text-transform: uppercase;
  display: inline-block;
}

h3.headline2{
  float: left;
  font-size: 2.8em;
  letter-spacing: -0.015em; 
  font-weight:700;
  font-family: 'Oranienbaum', serif;
  margin: 0px;
  padding: 0px;
  color: rgba(0,0,0,0.81);
}

.ads{
	margin-top: 20px;
}

h3.headline3{
  float: left;
  font-size: 3.5em; 
  font-weight:700;
  font-family: 'Oranienbaum', serif;
  color: rgba(0,0,0,0.81);
  margin: 0px;
  padding: 0px;
}

.eheadline{
  font-size: 2.1em;
  text-align: center;
  /*font-family: 'Anton', sans-serif;*/
  font-family: 'Oranienbaum', serif;
  color: rgba(0,0,0,0.81);
  margin: 2em 0em 0em;
  letter-spacing: 0.04em;
}

.catpost{
  margin: 15px 0px;
}

.mheader img{
	width: 100%;
}

.catpost img{
  /*width: 150%;*/
	width: 100%;
  	padding: 10px 0px;
	height:auto;
	/*margin:10px -25% 10px;*/
}

h1.postcount{
  display: block;
  font-family: 'Antonio','Oswald', sans-serif;
  font-size: 10em;
  border-top: 40px solid #AEAEAE;
  border-radius:5px;
  line-height: 0.80;
}

h2.postTitle{
  display: block;
  font-family: 'Antonio','Oswald', sans-serif;
  /*border-top: 2px dashed #AEAEAE;*/
  font-size: 1.6em;
  font-weight: bold;
  /*padding: 10px 0px;*/
  line-height: 1.2;
  margin-top: 0px;
}

h2.postTitleIntro{
  display: block;
  font-family: 'Antonio','Oswald', sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding: 10px 0px;
  line-height: 1.1;

}

h4.postTitle{
  display: block;
  font-family: 'Antonio','Oswald', sans-serif;
  font-size: 1.2em; 
  padding: 10px 0px 0px;
  line-height: 1.1;
}

.subtitle{
	/*border-bottom: 2px dashed #AEAEAE;*/
	text-align: left;
	text-transform: capitalize;
	font-family: 'Antonio', 'Oswald', sans-serif;
	font-size: 0.92em;
	padding: 0px 0px 5px;
}

.tags{
	border-bottom: 2px dashed #AEAEAE;
	text-align: left;
	text-transform: capitalize;
	font-family: 'Antonio', 'Oswald', sans-serif;
	font-size: 0.92em;
	padding: 5px 0px 5px;
}
.subtitle span{
	/*font-style: italic;*/
	font-size: 12px;
	color: #000;
}

.rheadline{
	text-align: center;
}

.mheader{
  float: left;
  margin-right: 20px;
  padding-left: 0px;
}

.mheader img{
  width:100%;
  height: 320px;
}

.theConntent{
	/*text-align: justify;*/
}
.theConntentImage{
  width: inherit;
}

.theConntentImage img{
  width: inherit;
}

.theConntentImage2{
	float: left;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
}

.article-cat-title{
	padding: 50px 10px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/bg87.jpg);
    background-size: contain;
    background-repeat: round;
}


.article-main-story{
	padding: 50px 10px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/bg86.jpg);
    background-size: contain;
    background-repeat: round;
    height: 450px;
}

.article-interview-story{
	padding: 50px 10px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/bg88.jpg);
    background-size: contain;
    background-repeat: round;
}

.article-infograph-story{
	padding: 50px 10px;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url(../img/bg85.jpg);
    background-size: contain;
    background-repeat: round;
}
.site-content{
	background: linear-gradient( rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92) ), url(../img/bg2.jpg);
    background-size: contain;
}
.article-cat-title * {
    position: relative;
    /* hack */
}

.article-main-story .page-title{
	text-align: center;
    padding: 120px 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Oranienbaum', serif; */
    letter-spacing: 4px;
    font-size: 4vw;
}

.article-cat-title .page-title{
	text-align: center;
    padding: 50px 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Oranienbaum', serif; */
    letter-spacing: 4px;
    font-size: 4vw;
}


.article-interview-story .page-title{
	text-align: center;
    padding: 50px 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Oranienbaum', serif; */
    letter-spacing: 4px;
    font-size: 4vw;
}

.article-infograph-story .page-title{
	text-align: center;
    padding: 50px 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Oranienbaum', serif; */
    letter-spacing: 4px;
    font-size: 4vw;
}
.readmore a{
	color: #fff;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	margin-top: 20px;
}

.btn-danger {
    color: #fff;
    background-color: rgba(0,0,0,0.81);
    border-color: rgba(0,0,0,0.81);
}

.cat-post{
	padding: 20px 0px;
	border-top: 2px dashed #444;
	/*text-align: justify;*/
}

.introduction{
	padding: 20px 0px 30px;
	/*text-align: justify;*/
}

.introductionImg{
	padding: 20px 15px 30px;
	margin-top: -50px;
	display: block;
	/*text-align: justify;*/
}

.top-thumbnail img{
	height: 180px;
}

.top-thumbnail{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerImg{
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.containerImg:hover .image {
  opacity: 0.3;
}

.containerImg:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgba(0,0,0,0.7);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}

.more-stories-img img{
	width: 100%;
	height: 40rem;
}
a.thumbnail{
	margin: 10px 0px;
}

q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
	color:#fff;
	background-color:none;
}
.area {
	float: left;
	background: #e2e2e2;
	width: 100%;
	height: 100%;
}

.adsMag{
    width: 150%;
    margin-left: -23%;
}
#funny img{
	width: 150%;
	margin-left: -23%;
    height: 150%;
}

#kelvin-okafor img{
	width: 150%;
	margin-left: -23%;
    height: 150%;
}

#tonje-bakang img{
	width: 150%;
	margin-left: -23%;
    height: 150%;
}


#takunda-chingonzo img{
	width: 150%;
	margin-left: -23%;
    height: 150%;
}

#loza-maleombho img{
	width: 150%;
	margin-left: -23%;
    height: 150%;
}

#priscilla-hazel-cassandra-sarfo-esther-olatunde img{
	width: 150%;
	margin-left: -23%;
    height: 150%;
}

#twenty6img img{
	width: 150%;
	margin-left: -23%;
}

.nextPrev{
	background: #fff;
	margin: 20px 0px;
	padding:10px;
}

.nextPrev .left{
	background: none;
	color:#000;
}

.nextPrev .left a{
	background: none;
	color:#000;
}

.nextPrev .right{
	background: none;
	color:#000;
}

.nextPrev .right a{
	background: none;
	color:#000;
}

.media-heading{
	font-size: 1.0em;
    padding: 20px 0px;
}

.block-update-card a{
	color:#333;
}

.block-update-card {
  height: 100%;
  border: 1px #FFFFFF solid;
  /*width: 380px;*/
  float: left;
  /*margin-left: 10px;*/
  margin-top: 5;
  padding: 0;
  box-shadow: 1px 1px 8px #d8d8d8;
  background-color: #FFFFFF;
  min-height: 400px;
}

.block-update-card .btn{
	text-align: center !important;
}
.block-update-card .h-status {
  width: 100%;
  height: 7px;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
.block-update-card .v-status {
  width: 5px;
  height: 80px;
  float: left;
  margin-right: 5px;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
.block-update-card .update-card-MDimentions {
  width: 80px;
  height: 80px;
}
.block-update-card .update-card-body {
  margin-top: 10px;
  margin-left: 5px;
}
.block-update-card .update-card-body h4 {
  color: #737373;
  font-weight: bold;
  font-size: 13px;
}
.block-update-card .update-card-body p {
  color: #737373;
  font-size: 12px;
}
.block-update-card .card-action-pellet {
  padding: 5px;
}
.block-update-card .card-action-pellet div {
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #dddddd;
}
.block-update-card .card-action-pellet div:hover {
  color: #999999;
}
.block-update-card .card-bottom-status {
  color: #a9a9aa;
  font-weight: bold;
  font-size: 14px;
  border-top: #e0e0e0 1px solid;
  padding-top: 5px;
  margin: 0px;
}
.block-update-card .card-bottom-status:hover {
  background-color: #dd4b39;
  color: #FFFFFF;
  cursor: pointer;
}

/*
Creating a block for social media buttons
*/
.card-body-social {
  font-size: 30px;
  margin-top: 10px;
}
.card-body-social .git {
  color: black;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .twitter {
  color: #19C4FF;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .google-plus {
  color: #DD4B39;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .facebook {
  color: #49649F;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .linkedin {
  color: #007BB6;
  cursor: pointer;
  margin-left: 10px;
}

.music-card {
  background-color: green;
}

@media (min-width: 768px){
	.navbar-nav>li>a {
	    padding-top: 7px;
	    padding-bottom: 7px;
	}
	
	/*.container{
		margin-left: 30px;
	}*/
}

@media screen and (max-width: 1100px) {
	.adsMag{
	    width: 100%;
	    margin-left: 0;
	}	
	
	#sideads1{
		display: none;
	}
	#sideads2{
		display: none;
	}

	.eheadline{
	  font-size: 1.5em;
	  text-align: center;
	  /*font-family: 'Anton', sans-serif;*/
	  font-family: ''Oswald'', sans-serif;
	  color: rgba(0,0,0,0.81);
	  margin: 2em 0em 0em;
	  letter-spacing: 0.04em;
	}
	.rheadline{
		text-align: center;
	}
}

@media screen and (max-width: 1280px) {
	
	.adsMag{
	    width: 150%;
	    margin-left: -23%;
	}

	.eheadline{
	  font-size: 1.5em;
	  text-align: center;
	  /*font-family: 'Anton', sans-serif;*/
	  font-family: ''Oswald'', sans-serif;
	  color: rgba(0,0,0,0.81);
	  margin: 2em 0em 0em;
	  letter-spacing: 0.04em;
	}
	.rheadline{
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.catpost {
	    padding: 0px 35px;
	    margin-bottom: 30px;
	}
	.mobileContainer{
		margin-left: 30px;
	}
	.ads{
		display: none;
	}
	#sideads1{
		display: none;
	}
	#sideads2{
		display: none;
	}
	#funny img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}
	#twenty6img img{
		width: 100%;
		margin-left: 0;
		height: auto;padding:0px 20px;
	}
	.category-header img{
		width:100%;
		height: 20em;
	}
	#kelvin-okafor img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}

	#tonje-bakang img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}


	#takunda-chingonzo img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}

	#loza-maleombho img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}

	#priscilla-hazel-cassandra-sarfo-esther-olatunde img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}
	ul.main-menu {
		/*background:#FF9742;*/
		background:rgba(0,0,0,.80);
		border-right:1px solid rgba(0,0,0,.80);
	  	color: #fff;
		position:fixed;
		top:0;
		bottom:0;
		height:100%;
		left:0;
		width:20px;
		font-size: 14px;
		overflow:hidden;
		-webkit-transition:width .05s linear;
		transition:width .05s linear;
		-webkit-transform:translateZ(0) scale(1,1);
		z-index:1000;
	}

	ul.main-menu li{
		padding: 10px 0px;
	}

	.adsMag{
	    width: 100%;
	    margin-left: 0;
	}

	.eheadline{
	  font-size: 1.5em;
	  text-align: center;
	  /*font-family: 'Anton', sans-serif;*/
	  font-family: ''Oswald'', sans-serif;
	  color: rgba(0,0,0,0.81);
	  margin: 2em 0em 0em;
	  letter-spacing: 0.04em;
	}
	.rheadline{
		text-align: center;
	}
}

@media screen and (max-width: 800px) {
	.containerImg a.thumbnail img{
		width:100%;
	}

	.containerImg{
		padding-left:10px !important;
		width:100%;
	}
	.article-infograph-story .page-title{
		padding: 0px 10px;
	}
	.article-interview-story .page-title{
		padding: 0px 10px;
	}
	.article-main-story .page-title{
		padding: 0px 10px;
	}
	.article-main-story {
	    padding: 50px 10px;
	    height: 150px;
	}
	.catpost {
	    padding: 0px 35px;
	    margin-bottom: 30px;
	}
	.ads{
		display: none;
	}
	#sideads1{
		display: none;
	}
	#sideads2{
		display: none;
	}
	ul.main-menu {
		/*background:#FF9742;*/
		background:rgba(0,0,0,.80);
		border-right:1px solid rgba(0,0,0,.80);
	  	color: #fff;
		position:fixed;
		top:0;
		bottom:0;
		height:100%;
		left:0;
		width:20px;
		overflow:hidden;
		-webkit-transition:width .05s linear;
		transition:width .05s linear;
		-webkit-transform:translateZ(0) scale(1,1);
		z-index:1000;
	}
	.adsMag{
	    width: 100%;
	    margin-left: 0;
	}

	.eheadline{
	  font-size: 1.5em;
	  text-align: center;
	  /*font-family: 'Anton', sans-serif;*/
	  font-family: ''Oswald'', sans-serif;
	  color: rgba(0,0,0,0.81);
	  margin: 2em 0em 0em;
	  letter-spacing: 0.04em;
	}
	.rheadline{
		text-align: center;
	}

	h2.postTitle {
	    display: block;
	    font-family: 'Antonio','Oswald', sans-serif;
	    border-top: 2px dashed #AEAEAE;
	    font-size: 1.4em;
	    font-weight: bold;
	    padding: 10px 0px;
	    line-height: 1.2;
	    margin-top: 0px;
	}
}

@media screen and (max-width: 980px) {
	.catpost {
	    padding: 0px 35px;
	    margin-bottom: 30px;
	}
	h2.headline {
	    margin-top: -20px;
	    padding: 10px 10px 0px 0px;
	}
	.ads{
		display: none;
	}
	#sideads1{
		display: none;
	}
	#sideads2{
		display: none;
	}
	.adsMag{
	    width: 100%;
	    margin-left: 0;
	}

	.eheadline{
	  font-size: 1.5em;
	  text-align: center;
	  /*font-family: 'Anton', sans-serif;*/
	  font-family: ''Oswald'', sans-serif;
	  color: rgba(0,0,0,0.81);
	  margin: 2em 0em 0em;
	  letter-spacing: 0.04em;
	}
	.rheadline{
		text-align: center;
	}
}

@media screen and (max-width: 680px) {
	.mheader {
	    float: none;
	    margin-right: 0px;
	    padding: 0px;
	}
	.introduction {
	    padding: 20px 20px 30px 0px;
	    text-align: justify;
	}

	.introduction .catpost{
		padding: 0px 5px 0px 35px;
	}
	.inteviews, .videos, .infographics, .other-stories{
		padding-left: 10px;
	}
	h2.postTitle {
	    display: block;
	    font-family: 'Antonio','Oswald', sans-serif;
	    border-top: 2px dashed 
	    #AEAEAE;
	    font-size: 1.2em;
	    font-weight: bold;
	    padding: 10px 0px;
	    line-height: 1.2;
	    margin-top: 0px;
	}
	.cat-post {
	    padding: 10px 0px;
	    border-top:none;
	    text-align: justify;
	}
	.catpost {
	    padding: 0px 5px 0px 45px;
	    margin-bottom: 30px;
	}

	.tags{
		display: none;
	}
	.mobileContainer{
		margin-left: 30px;
	}
	.ads{
		display: none;
	}
	#sideads1{
		display: none;
	}
	#sideads2{
		display: none;
	}
	#funny img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}
	#twenty6img img{
		width: 100%;
		margin-left: 0;
		height: auto;padding:0px 20px;
	}
	#kelvin-okafor img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}

	#tonje-bakang img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}
	.category-header img{
		width:100%;
		height: 20em;
	}

	#takunda-chingonzo img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}

	#loza-maleombho img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}

	#priscilla-hazel-cassandra-sarfo-esther-olatunde img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}
	.adsMag{
	    width: 100%;
	    margin-left: 0;
	}
	.eheadline{
	  font-size: 1em;
	  text-align: center;
	  /*font-family: 'Anton', sans-serif;*/
	  font-family: ''Oswald'', sans-serif;
	  color: rgba(0,0,0,0.81);
	  margin: 1.5em 0em 0em;
	  letter-spacing: 0.04em;
	}
	.rheadline{
		text-align: center;
	}
	.site-title .site-title-heading {
	    margin: 0;
	    font-size: 20px;
	    color: #fff;
	    text-align: center;
	}
}
@media screen and (max-width: 400px) {
	.catpost {
	    padding: 0px 5px 0px 45px;
	    margin-bottom: 30px;
	}
	.mobileContainer{
		margin-left: 30px;
	}
	.top-thumbnail img{
	    height: 110px;
	}
	.footer .menu{
		display: none;
	}
	.ads{
		display: none;
	}
	#sideads1{
		display: none;
	}
	#sideads2{
		display: none;
	}
	#funny img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}
	.category-header img{
		width:100%;
		height: 20em;
	}
	#kelvin-okafor img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}

	#tonje-bakang img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}

	#twenty6img img{
		width: 100%;
		margin-left: 0;
		height: auto;padding:0px 20px;
	}


	#takunda-chingonzo img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}

	#loza-maleombho img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}

	#priscilla-hazel-cassandra-sarfo-esther-olatunde img{
		width: 100%;
		margin-left: 0;
	    height: 100%;
	}
	.mheader{
		width:100%;
	}
	.adsMag{
	    width: 100%;
	    margin-left: 0;
	}
	.eheadline{
	  font-size: 1em;
	  text-align: center;
	  /*font-family: 'Anton', sans-serif;*/
	  font-family: ''Oswald'', sans-serif;
	  color: rgba(0,0,0,0.81);
	  margin: 1.5em 0em 0em;
	  letter-spacing: 0.04em;
	}
	.rheadline{
		text-align: center;
	}
	.site-title .site-title-heading {
	    margin: 0;
	    font-size: 20px;
	    color: #fff;
	    text-align: center;
	}
	ul.main-menu {
	    /*background: #FF9742;*/
	    background: rgba(0,0,0,.80);
	    border-right: 1px solid rgba(0,0,0,.80);
	    color: #fff;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    height: 100%;
	    left: 0;
	    width: 20px;
	    overflow: hidden;
	    -webkit-transition: width .05s linear;
	    transition: width .05s linear;
	    -webkit-transform: translateZ(0) scale(1,1);
	    z-index: 1000;
	}
}

blockquote{
  	border-left: none;
  /*margin: 1.5em 10px;*//*
  	quotes: "\201C""\201D""\2018""\2019";
	font-size: 24px;
	padding: 0.25em 0.25em;
	position: relative;*/
	font-family: 'Anton', sans-serif;
	color: #383838;
	font-weight: 400;
    font-size: 17px;
    line-height: 1.1;
    margin: 0px 0px 1.5em 0;
    padding: 0px; 
}

p b i{
	font-family: 'Anton', sans-serif;
	color: #383838;
	font-weight: 400;
    font-size: 17px;
    line-height: 1.1;
    margin: 0px 0px 1.5em 0;
    padding: 0px;
    letter-spacing: 1px;
}

p b{
	font-family: 'Anton', sans-serif;
	color: #383838;
	font-weight: 400;
    font-size: 17px;
    line-height: 1.1;
    margin: 0px 0px 1.5em 0;
    padding: 0px;
    letter-spacing: 1px;
}

strong i{
	font-weight: 600;
	letter-spacing: 1px;
}
/*blockquote:before {
	  color: #ccc;
	  content: open-quote;
	  font-size: 3em;
	  margin-right: 0.02em;
	  vertical-align: -0.4em;
	  line-height: 0px;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 3em;
  line-height: 0;
  margin-left: 0.02em;
  vertical-align: -0.4em;
}
*/
blockquote p {
  	display: inline;
  	line-height: 30px;
}

.additive{
	background: #eee;
	color: #000;
	padding: 10px;
}

.additive a{
	color: #FF9742;
	font-weight: bold;
}


.additive h3{
	font-weight: bold;
	/*margin-top: 30px;*/
	font-size: 24px;
}

.additive h4{
	/*margin-top: 30px;*/
	/*margin-bottom: 0px;*/
	display: inline-block;
	text-transform: capitalize;
}


.additive h4 span{
	text-transform: capitalize;
	font-weight: bold;
}

.dropcap {
    font-size: 5em;
    line-height: 0.75;
    font-weight: 400;
    float: left;
    margin-right: 0.1em;
    margin-bottom: 0.05em;
    font-family: 'Anton', sans-serif;
    color: black;
}

.dropcap2 {
    font-size: 0.85em;
    font-family: 'Anton', sans-serif;
    font-weight: 600;
    letter-spacing: 0.04em;
    /*float: left;*/
    color: black;
}

.imgCaption{
    font-size: 11px;
    padding: 0px;
    text-align: center;
    color: #AEAEAE;
    display: block;
    line-height: 12px;
}

.imgCaption2{
	font-size: 11px;
    padding: 0px;
    text-align: left;
    color: #AEAEAE;
    display: block;
    line-height: 12px;
    margin-bottom:20px;
}


#page {
  position: fixed;
  text-align: right;
  right: 0px;
  float: right;
  bottom: 100%;
  color: #222;
}

.box-wrapper {
  perspective: 800px;
  perspective-origin: 50% 100px;
}

.box {
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
}
.box p {
  padding: 40px 0;
}
.box div {
  outline: 1px solid #999;
  position: absolute;
  width: 200px;
  height: 100%;
  opacity: 1;
  box-shadow: inset 0px 0px 100px #555;
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
  background-color: #eee;
}
.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  background-color: #ddd;
}
.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  background-color: #ddd;
}
.top {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
  background-color: #fafafa;
}
.bottom {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
  background-color: #bbb;
}
.front {
  transform: translateZ(100px);
  background-color: #eee;
}


@keyframes spin {
  from { transform: rotateY(0); }
  to { transform: rotateY(360deg); }
}

.box, .shadow {
  animation: spin 30s infinite linear;
}

.left p { color: #27a05c; }
.right p { color: #27a05c; }
.front p { color: #27a05c; }
.back p { color: #27a05c; }

.shadow-wrapper {
  perspective: 800px;
  perspective-origin: 50% 100px;
/*  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 100px;*/
}

/*.shadow {
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
}

.shadow div{
  position: absolute;
  width: 200px;
  height: 600px;
  top: 2px;
  opacity: 1;
  box-shadow: 0px 0px 100px #000;
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
}*/

#page2 {
  position: fixed;
  text-align: right;
  left: 20px;
  bottom: 100%;
  color: #222;
}

.box-wrapper2 {
  perspective: 800px;
  perspective-origin: 50% 100px;
}

.box2 {
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
}
.box2 p {
  padding: 40px 0;
}
.box2 div {
  outline: 1px solid #999;
  position: absolute;
  width: 200px;
  height: 100%;
  opacity: 1;
  box-shadow: inset 0px 0px 100px #555;
}

.back2 {
  transform: translateZ(-100px) rotateY(180deg);
  background-color: #eee;
}
.right2 {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  background-color: #ddd;
}
.left2 {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  background-color: #ddd;
}
.top2 {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
  background-color: #fafafa;
}
.bottom2 {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
  background-color: #bbb;
}
.front2 {
  transform: translateZ(100px);
  background-color: #eee;
}


@keyframes spin2 {
  from { transform: rotateY(0); }
  to { transform: rotateY(360deg); }
}

.box2, .shadow2 {
  animation: spin2 30s infinite linear;
}

.left2 p { color: #27a05c; }
.right2 p { color: #27a05c; }
.front2 p { color: #27a05c; }
.back2 p { color: #27a05c; }

.shadow-wrapper2 {
  perspective: 800px;
  perspective-origin: 50% 100px;
/*  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 100px;*/
}

#sideads1 {
  position: fixed;
  text-align: right;
  right: 60px;
  float: right;
  bottom: 5%;
  color: #222;
}


#sideads2 {
  position: fixed;
  text-align: right;
  left: 80px;
  bottom: 5%;
  color: #222;
}

.footer-content{
	font-size: 14px;
	text-transform: capitalize;
	line-height: 14px;
	margin-top: 10px;
}

.footer-content a{
	font-size: 15px;
	text-transform: capitalize;
	line-height: 16px;
	margin-top: 10px;
	color: #000;
}

.footer-top{
	margin-top:50px;
	margin-bottom:50px;
width:68%;
}

.footer-top h4{
	font-family: 'Anton', sans-serif;
}
.no-padding-left{
padding-left:0;
padding-right:0;
padding-top:10px;
padding-bottom:10px;
}
.contentFooter {
    border-top: 1px solid #AEAEAE;
    font-size: 0.9em;
    padding: 20px;
}

.contentFooter strong {
    font-size: 1.15em;
}
.footer{
	background: #e6e4e4;
	padding: 20px 20px 10px;
	text-align: center;
}
.mailinglist{
	font-family: 'Anton', sans-serif;
	padding-top: 3px;
	letter-spacing: 0.8;
	color: #222;
	font-size:2.2vw;
}

.mailbutton{
	font-family: 'Anton', sans-serif;
	color: #222;
	background: #FFF;
	outline-style: none;
    border-style: none;
    letter-spacing: 0.5;
    padding: 3px 20px;
}
.mailemail{
	font-family: 'Anton', sans-serif;
	background-color: transparent;
	border-bottom: 2px solid #222;
	padding: 5px 10px 0px;
	border-top:none;
	border-left:none;
	border-right:none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #555;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #555;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #555;
}
:-moz-placeholder { /* Firefox 18- */
  color: #555;
}

.mailing-list-form-container{
	margin:6% 0px;
}

#footer-copyright{
	font-family: 'Anton', sans-serif;
	font-size: 14px;
	color: #222;
}

/*.footer ul.menu{
	display: inline-block;
}*/

.footer .menu li{
	font-family: 'Anton', sans-serif;
	font-size: 1.6vw;
	letter-spacing: 0.9;
	display: inline-block;
	padding: 5px 5px;
}

.footer .menu li a{
	color: #222;
}